data/*
node_modules/*
api/node_modules/*
private-api/node_modules/*
.vscode/*
broker/node_modules/*
influxdb2/influx-configs
raspberry/mosquitto/node_modules/*
raspberry/homeassistant/*
raspberry/data/*
raspberry/log/*
raspberry/mosquitto/bucket.txt
